<%- include('header') -%>

<h1 >MTN MOBILE MONEY</h1>
<form action="/" method="post">

    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" id="firstname">

    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="lastname">
    
    <label for="phone">Email</label>
    <input type="email" name="email" id="email">

    <label for="phone">Phone</label>
    <input type="tel" name="phone" id="phone">

    <label for="amount">Amount</label>
    <input type="text" name="amount" id="amount">

    <button type="submit">Pay</button>
</form>

 <%- include('footer') -%>

